.box-main{
    display: inline-block;
    background-color: green;
    width:1000px;
    height: 300px;
}
.box-first{
    display: inline-block;
    height: 50%;
    width: 100px;
    background-color: black;
}
.box-second{
    display: inline-block;
    height: 100%;
    background-color: black;
    width: 100px;
}